/*     ~~~~~~~~ DISPLAY RELATED SCSS MIXINS ~~~~~~~~     */

@mixin setSize($width: auto, $height: auto){
    width: #{$width};
    height: #{$height};
}

@mixin setMarginPadding($margin: auto, $padding: auto){
    margin:#{$margin};
    padding:#{$padding};
}

@mixin setPos($position: static, $top: auto, $left: auto, $bottom: auto, $right: auto){
    position: #{$position};
    top: #{$top};
    left: #{$left};
    bottom: #{$bottom};
    right: #{$right};
}

@mixin setDisplay($display: inline, $position: static, $top: auto, $left: auto){
    display: #{$display};
    @include setPosition($position, $top, $left);
}

@mixin setFlex($justifyC: normal, $alignI: normal, $alignC: normal, $flexDir: row, $flexWrap: nowrap){
    display: flex;
    flex-direction: #{$flexDir};
    flex-wrap: #{$flexWrap};
    justify-content: #{$justifyC};
    align-items:#{$alignI};
    align-content:#{$alignC};
}

@mixin absoluteCenter(){
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

@mixin onHoverBoxShadow($duration: 1s, $LRsides: 0px, $TBsides: -5px, $all: 0px, $blur: 3px){
    transition: box-shadow #{$duration};
    &:hover {
        box-shadow: #{$LRsides} #{$TBsides} #{$all} #{$blur} var(--shadow);
    }
}