$mobile-s: 320px;
$mobile-m: 375px;
$mobile-l: 425px;
$tablet: 768px;
$laptop: 1024px;
$laptop-l: 1440px;
$four-k: 2560px;

@mixin mobile-s() {
  @media (max-width: $mobile-s) {
    @content;
  }
}

@mixin mobile-m() {
  @media (max-width: $mobile-m) {
    @content;
  }
}

@mixin mobile-l() {
  @media (max-width: $mobile-l) {
    @content;
  }
}

@mixin tablet() {
  @media (max-width: $tablet) {
    @content;
  }
}

@mixin laptop() {
  @media (max-width: $laptop) {
    @content;
  }
}

@mixin laptop-l() {
  @media (max-width: $laptop-l) {
    @content;
  }
}

@mixin four-k() {
  @media (max-width: $four-k) {
    @content;
  }
}
